
#general {
	trust-players: off;
	break-bedrock-anywhere: off;
	shenanigans: on;
	convert-void-holes: on;
}

#client {
	force-opengl-core: auto;
	config-color: teal;
	control-hints: on;
}

#rifle {
	allow-void: on;
	allow-explode: on;
	allow-fire: on;
	timing-assist: on;
}

#enchantments {
	vorpal: on;
	disjunction: on;
	annihilation: on;
	shattering: on;
	springing: on;
	stabilization: on;
	curses-in-table: on;
}

#worldgen {
	gadolinite: on;
	brookite: on;
	squeeze-trees: on;
	wasteland: on;
	core-lava: on;
	scorched: on;
	scorched-retrogen: on;
	continuity: on;
}
